@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

/* General ##############################*/
html,
body {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Roboto";
    font-size: 10px;
    line-height: 1.5;
    font-weight: 400;
}
/* H1 - H6 ##############################*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed";
}

h1 {
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: #020819 8px -20px 9px;
}

h3 {
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
}

h4 {
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
    margin-bottom: 15px;
}

h5 {
    font-size: 1.2em;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

/* Nav-Bar ##############################*/
.nav-bar {
    background-color: rgb(25, 33, 41);
    padding-top: 14px;
    padding-bottom: 14px;
}

.nav-bar-ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

}
.nav-bar-ul li {
    list-style: none;
    text-align: center;
}


.nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}


/* Header ##############################*/
.header {
    background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding-top: 50px;
    position: relative;
}

.quote {
    font-size: 2.5em;
    font-weight: 500;
    position: absolute;
    left: 10%;
    bottom: 100px;
    color: #fff;
}

.quote em {
    color:black;
}

.quote em span {
    font-weight: 700;
}

/* Section 1 - General Information ##############################*/
#general-information {
    display: flex;
    justify-content: space-evenly;
}

.dark-background {
    background-color: rgb(25, 33, 41);
    color: white;
}

#general-information .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 75px 0;
}

.text {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    margin: 20px 0;
}

.link-btn {
    background-color: rgb(67, 163, 230);
    color: #fff;
    font-family: "Roboto Condensed";
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    border: 0.1px solid rgba(255, 255, 255, 0.4);
}

.link-btn:hover {
    color: rgb(25, 33, 41);
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
}

/* Section 2 - Structure ##############################*/
#structure > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.service-box {
    width: 40%;
    font-size: 1.7em;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 50px 5% 0 5%;
    box-shadow: 50px 5% 0 5%;
    padding: 20px;

}

.service-box img {
    width: 125px;
}

/* Section 3 - Team ##############################*/
#team > div  {
    display: flex;
    justify-content: space-evenly;
}

#team > div > article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#team {
    padding: 75px 0;
    margin: 0 auto;
}

#team p {
    width: 60%;
    margin: 10px auto;
}

#team .section-text {
    font-size: 1.9em;
    text-align: center;
}

#team hr {
    width: 40%;
    margin: 20px auto 30px auto;
}

#team .member-name {
    font-size: 1.5em;
    font-weight: 700;
}

#team img {
    width: 250px;
    height: 180px; 
}

/* Section 4 - Schedule ##############################*/
.schedule-table {
    margin: 0 auto 40px;
    font-size: 1.5em;
}

.schedule-table th,
td {
    border-bottom: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}

.schedule-table td {
    font-weight: 700;
}

.schedule-table td:nth-child(1) {
    font-weight: 400;
}

/* Footer ##############################*/
.footer {
    font-size: 1.9em;
    text-align: center;
    padding: 40px 100px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address {
    font-style: normal;
    font-size: 0.8em;
    margin-bottom: 30px;
}

footer a {
    color: rgb(67, 163, 230);
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
}

.map-frame {
    height: 375px;
    width: 60%;
}